<article class="post">
  <div class="title">
    <h2> {{title}}</h2>
    <p>{{post_body}}</p>
  </div>
  <div class="meta">
    Written by
    {{user.username}}
    on
    {{format_date updated_at}}
    |
    <a href="/post/{{id}}">Add A Comment</a>
    |
     <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
  </div>
  

</article>